.DS_Store
.vscode
.metadata

stm32_ws/.*
stm32_ws/ROBOT/.*
stm32_ws/ROBOT/Debug

RoboRTS-Firmware/.*
RoboRTS-Firmware/Communicate/.*
RoboRTS-Firmware/Motor/.*
RoboRTS-Firmware/ROBOT/.*
RoboRTS-Firmware/ROBOT_DEV/.*
RoboRTS-Firmware/Test/.*
